#logo{
    width: 75%;
}
#footerLogo{
    max-width: 200px;
}
#navi{
    background-color: #0084D5;
    list-style: none;
}
a{
    color: white;
}
article{
   
    margin: 10px;
    background-color: rgb(158, 216, 255);
}
footer{
    background-color: #0084D5;
}
.socials{
    width: 24px;
}
.brand{
    max-width: 200px;
}
h3{
    color: white;
}
#contact li{
    color: white;

}
#lessons{
    border-width: 5px;
    border-color: black;
    background-color: #182f3d;
}
.photo{
    width: 200px;
}
.blog{
    width: 200px;
}
h2{
    color: #182f3d;
}
#className{
    color: #d3d3d3;
}
.bc{
    background-color: #182f3d;
}
button{
    background-color: #0084D5;
    margin: 1rem;
    border-color: goldenrod;
}
html { font-size: .75rem; }

@media (min-width: 576px) {
    html { font-size: 1rem; }
}
@media (min-width: 768px) {
    html { font-size: 1.25rem; }
}
@media (min-width: 992px) {
    html { font-size: 1.5rem; }
}
@media (min-width: 1200px) {
    html { font-size: 1.75rem; }
}